{% extends "base.html" %}
{% block content %}
<h1><center>About Us</h1><br></center>
 <font size="+2"><center>
In accordance with the "The Sexual Harassment of Women at Workplace (Prevention, Prohibition and Redressal) Act, 2013" of the Supreme Court of India of December 2013, we setup an online application,  a Women's Cell at Panipat Institute of Engineering and Technology, committed to enable women of the institute to pursue their work with dignity and confidence. The aim of this web application, Women's Cell is to maintain a safe workplace for women and a harmonious atmosphere , and to raise awareness in the community on gender equality issues.<br><br></font>

<font size="+2">
The Women's Cell emphasizes protection against any harassment or gender discrimination. In addition, the Women's Cell will also engage in organizing various activities promoting gender equality and gender amity. At present,  Women's Cell consists of following members:<br></font>
<br>
<h2>Darpan Jaiya</h2> darpankamboj23@gmail.com
{% endblock %}