{% extends "base.html" %}

{% block content %}

         <center>    <h2> LAWS                <span style="color: darkslategrey">AND</span>  ACTS</h2></center>

<table border="1" >

<tr><td>WOMEN-RELATED LEGISLATIONS</td>            			    <td >The Commission of Sati (Prevention) Act, 1987 (3 of 1988)</td><td>The Indecent Representation of Women (Prohibition) Act</td>
</tr>

<tr>
				<td>Code of Criminal Procedure, 1973 </td>
				<td>Indian Penal Code, 1860 </td></tr>

			<tr>	<td>The Hindu Marriage Act, 1955 (28 of 1989)</td>
				<td>Eve Teasing (New Legislation) </td>
				</tr>

<tr>
				<td>The Child Marriage Restraint Act, 1929 </td>
				
				<td>The Medical Termination of Pregnancy Act, 1971 (34 of 1971)</td>

</tr><tr>
			
				<td>The Guardians and Wards Act, 1869 </td>
			
				<td>The Indian Succession Act, 1925 (39 of 1925) </td>
			</tr><tr>
				<td>The Minimum Wages Act </td>
			
				<td>The Factories Act, 1948 </td>
			
				<td>The Guardians and Wards Act, 1860 (8 of 1890) </td>
			

</tr><tr>
				<td>The Hindu Adoptions & Maintenance Act, 1956 </td>
			
				<td>The Pre-Natal Diagnostic Technique  </td>
			
				<td>The Hindu Succession Act, 1956 </td>
			

</tr>
<tr>
				<td>The Christian Marriage Act, 1872 (15 of 1872) </td>
			
				<td>National Commission for Women Act, 1990 (20 of 1990) </td>
			
				<td>The Bonded Labour System (Abotdtion) Act, 1976 </td>
</tr>
<tr>
			
				<td>The Equal Remuneration Act, 1976 </td>
			
				<td>The Special Marriage Act, 1954 </td>
			

</tr>

<tr>
				<td>The Inter-State Migrant Workmen</td>
			
				<td>The Mustdm Personal Law (Shariat) Apptdcation Act, 1937 </td>
			

</tr>
<tr>
				<td>The Hindu Minority & Guardianship Act, 1956 </td>
			
				<td>The Employees' State Insurance Act, 1948</td>
			

</tr><tr>
				<td>The Indian Evidence Act, 1872 (yet to be reviewed) </td>
			
				<td>The Family Courts Act, 1984</td>
			

</tr>
<tr>
				<td>The Child Marriage Restraint Act, 1929 (19 of 1929) </td>
				
				<td>The Foreign Marriage Act, 1969 (33 of 1969) </td>
			

</tr><tr>
				<td>The Contract Labour (Regulation & Abotdtion) Act, 1979 </td>
			
				<td>The Indian Divorce Act, 1969 (4 of 1969) </td>
			

</tr><tr>
				<td>The Juvenile Justice (Care & Protection of Children) Act, 2000</td>
			

</tr>
			    
		
</table>
                    




{% endblock %}